* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    
}

main {
    display: flex;
    background-color: rgb(83, 83, 83);
    padding: 40px;
}


.section-logo {
    margin: 100px;
}

.secundary-container {
    background: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 6px;
    font-weight: 700;
    padding: 20px;
    width: 400px;
}

label {
    padding-bottom: 6px;
    padding-left: 6px;
    width: 90vw;
}

select {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-bottom: 6px;
    cursor: pointer;
    font-weight: 700;
}

input {
    width: 100%;
    height: 40px;
    padding: 6px;
    border: none;
    border-radius: 3px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: 700;
}

button {
    height: 40px;
    width: 100%;
    font-size: 20px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.last-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.currency-exchange {
    display: contents;
    font-weight: 700;
}

.img {
    width: 90px;
}